[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
requests = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg2 = "*"
bcrypt = "*"
pyjwt = "*"
pytest = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.10"
